.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
}

.header__nav-list {
  display: flex;
  list-style-type: none;
  padding-right: 77px;
}

.header__nav-link {
  text-decoration: none;
  color: #28224b;
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  padding: 20px 16px;
}

.header__content {
  display: flex;
}

.header__nav-link.active {
  color: #35b8be;
}
