.header__cart {
  position: relative;
  width: 55px;
  height: 55px;
  background-color: #35b8be;
  border-radius: 4px;
}

.header__cart img {
  width: 25px;
  height: 17px;
  margin: 19px 17px 19px 13px;
  z-index: 100;
}

.header__cart-counter {
  position: absolute;
  top: -6px;
  left: 36px;
  background-color: #fff;
  color: #35b8be;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 7px 7px 25px 0px #7E828F45;

}
